@model HackingandSavingPage.Areas.SqlInjection.Models.LoginModel

<link rel="stylesheet" type="text/css" href="~/css/site.css" media="screen" />


@using (Html.BeginForm("Login", "SqlInjection", FormMethod.Post,
                             new { enctype = "multipart/form-data" }))

{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    <br />
    <button class="mybutton" text="Submit" id="submitButton" type="submit">Submit</button>
}