@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Benjamin and Jonas's hacking Adventure</h1>
    <p>Learn about  <b>HACKING!!!111</b>.</p>

</div>
